body {
    padding-top: 65px;
}

.navbar .navbar-brand {
/*    color: #bbbb22; */
    opacity:0.99;
    margin:0;
}
.navbar-brand {
  padding-left:5px;
  padding-top:5px;
}
.navbar .navbar-brand img {
    height:40px;
}

.navbar .navbar-brand .a:active {
    /* color: #eeee22; */
}
.navbar .navbar-brand .a:visited {
   /* color: #eeee22; */
}
.navbar .navbar-brand:hover {
  /*  color: #eeee22; */
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.modal .text-primary {
 /* color: #ffffff */
}