<header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--myriad">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">{{page.title}}</span>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
      <li><a class="mdl-color-text--myriad" href="http://www.apache.org/">Apache Homepage</a></li>
      <li><a class="mdl-color-text--myriad" href="http://www.apache.org/licenses/">License</a></li>
      <li><a class="mdl-color-text--myriad" href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
      <li><a class="mdl-color-text--myriad" href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
      <li><a class="mdl-color-text--myriad" href="http://www.apache.org/security/">Security</a></li>
    </ul>
  </div>
</header>
<div class="mdl-layout__drawer mdl-color-text--myriad mdl-color--grey-100">
  <span class="">
    <img src="{{ site.baseurl }}/img/navbar_logo.png" alt="Incubator Logo" ></img>
  </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Home</a>
    <a class="mdl-navigation__link" href="{{ site.baseurl }}/news">News</a>
    <a class="mdl-navigation__link" href="{{ site.baseurl }}/docs">Documentation</a>
    <a class="mdl-navigation__link" href="{{ site.baseurl }}/downloads">Downloads</a>
    <a class="mdl-navigation__link" href="{{ site.baseurl }}/community">Community</a>
    <hr/>
  </nav>
</div>
