<div class="myriad-splash">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--7-col">
      <img src="{{ site.baseurl }}/img/navbar_logo.png"></img>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--10-col">
      <div class="mdl-typography--headline mdl-color-text--grey-700">
        Deploy Apache YARN Applications Using Apache Mesos
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <a href="{{ site.baseurl }}/downloads">
        <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-color--myriad mdl-js-ripple-effect">
          Try It!
        </button>
        </a>
      </div>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
      <a href="https://incubator.apache.org" target="_">
        <img src="{{ site.baseurl }}/img/egg-logo.png"></img>
      </a>
    </div>
  </div>
</div>
