---
layout: default
title: Myriad
---

<div class="mdl-grid">
  <div class="mdl-color--grey-50 mdl-shadow--6dp mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">

        {% include splash.html %}

  </div>

  <div class="mdl-color--white mdl-shadow--6dp mdl-color-text--grey-800 mdl-cell mdl-cell--7-col">
        {% include features.html %}
  </div>
  <div class="mdl-color--white mdl-shadow--6dp mdl-color-text--grey-800 mdl-cell mdl-cell--5-col">
        {% include front_news.html %}
  </div>

</div>
{% include footer.html %}
