{% comment %}
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
{% endcomment %}
<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__top-section">
    <div class="mdl-mega-footer__left-section">
      <button class="mdl-mega-footer__social-btn">
        <a target="_blank" href="https://twitter.com/apachemyriad">
          <i class="fa fa-twitter fa-3x mdl-color-text--myriad-contrast"></i>
        </a>
      </button>
      <button class="mdl-mega-footer__social-btn">
        <a target="_blank" href="https://github.com/apache/incubator-myriad">
          <i class="fa fa-github fa-3x mdl-color-text--myriad-contrast"></i>
        </a>
      </button>
      <button class="mdl-mega-footer__social-btn">
        <a target="_blank" href="http://stackoverflow.com/search?q=apache+myriad">
          <i class="fa fa-stack-exchange fa-3x  mdl-color-text--myriad-contrast"></i>
        </a>
      </button>
    </div>
    <div class="mdl-mega-footer__right-section">
      <a href="https://freenode.net/">Join us on Freenode IRC #myriad</a>
    </div>
  </div>
  <div class="mdl-mega-footer__bottom-section">
    <ul class="mdl-mega-footer__link-list">
      <li><div class="mdl-logo">Disclaimer:</div>Apache Myriad is an effort undergoing incubation at The Apache Software
        Foundation (ASF), sponsored by the Apache Incubator. Incubation is
        required of all newly accepted projects until a further review indicates
        that the infrastructure, communications, and decision making process
        have stabilized in a manner consistent with other successful ASF
        projects. While incubation status is not necessarily a reflection of
        the completeness or stability of the code, it does indicate that the
        project has yet to be fully endorsed by the ASF.</li>
    </ul>
  </div>
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-mega-footer__drop-down-section">
      <h1 class="mdl-mega-footer__heading">Apache Myriad&trade;</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/news">News</a></li>
        <li><a href="{{ site.baseurl }}/docs">Documentation</a></li>
        <li><a href="{{ site.baseurl }}/downloads">Downloads</a></li>
        <li><a href="{{ site.baseurl }}/blogs">Blogs</a></li>
        <li><a href="{{ site.baseurl }}/community">Community</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <h1 class="mdl-mega-footer__heading">Apache Software Foundation</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="http://www.apache.org/">Apache Homepage</a></li>
        <li><a href="http://www.apache.org/licenses/">License</a></li>
        <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
        <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
        <li><a href="http://www.apache.org/security/">Security</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <br/>
      <br/>
      <a href="https://incubator.apache.org" target="_">
        <img src="{{ site.baseurl }}/img/egg-logo.png" alt="Incubator Logo" ></img>
      </a>
      <!-- a href="https://www.apache.org" target="_">
        <img src="{{ site.baseurl }}/img/apache-feather-logo.png" alt="Apache Feather" ></img>
      </a-->
    </div>
  </div>
  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">
      &copy;2015 The Apache Software Foundation.
    </div>
    <ul class="mdl-mega-footer__link-list">
      <li>Apache Myriad, Myriad, the Apache feather logo,
      and the Apache Myriad project logo are trademarks of
      <a href="http://apache.org">The Apache Software Foundation</a>
      in the United States and other countries.
      All other marks mentioned may be trademarks or registered trademarks of their respective owners.</li>
    </ul>
  </div>
</footer>
