<div class="mdl-grid">
<div class="mdl-cell--1-col"></div>
<div class="mdl-cell mdl-cell--11-col">
  <h3 class="mdl-typography--title"><a href="{{site.baseurl}}/news/">News</a></h3>

  {% for post in site.posts %}
  <div class="mdl-typography--body-2">
    {{ post.title }}
  </div>
  <div class="mdl-typography--caption">
    <em>{{ post.date | date: "%b %-d, %Y" }}</em>
    <br/>
    <span class="mdl-typography--body-1">
      {{ post.blurb }}
    </span>
    <hr/>
  </div>
  {% endfor %}
</div>
</div>
