{% comment %}
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
{% endcomment %}
<div class="myriad-splash">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--7-col">
      <img src="{{ site.baseurl }}/img/navbar_logo.png"></img>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--10-col">
      <div class="mdl-typography--headline mdl-color-text--grey-700">
        Deploy Apache YARN Applications Using Apache Mesos
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <a href="{{ site.baseurl }}/downloads">
        <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-color--myriad mdl-js-ripple-effect">
          Try It!
        </button>
        </a>
      </div>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
      <a href="https://incubator.apache.org" target="_">
        <img src="{{ site.baseurl }}/img/egg-logo.png"></img>
      </a>
    </div>
  </div>
</div>
